# Configuracion de Django
SECRET_KEY=tu-secret-key-super-segura-aqui
DEBUG=False
ALLOWED_HOSTS=el-campo-back.duckdns.org,localhost,127.0.0.1

# Base de Datos (RDS PostgreSQL)
DB_NAME=nombre_de_tu_bd
DB_USER=usuario_bd
DB_PASSWORD=password_bd
DB_HOST=tu-rds-endpoint.region.rds.amazonaws.com
DB_PORT=5432

# CORS
CORS_ALLOW_ALL_ORIGINS=False
CORS_ALLOWED_ORIGINS=https://tu-frontend.com,http://localhost:5173

# Logging
DJANGO_LOG_LEVEL=INFO
